html,
body {
  height: 100%;
  // overflow-x: hidden !important;
}

body {
  margin: 0;

/*  overscroll-behavior-y: auto;*/
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--color-grey);
}

.is-device .navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}