.logo {
	padding-top: 20px;
	max-width: 200px;
}

a-scene {
	position: absolute;
}

section.content {
	height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.a-dialog-text { color: black; }

sup	{
	font-size: 0.5em;
}

.tbc {
	pointer-events: none;
	cursor: wait;
}

.frame svg {
	width: 150px;
	fill: var(--menu);
}

.app main {
    height: 100%;
}


.navigation-frame > a {
    width: 125px;
    display: inline-block;
    top: 50px;
    position: relative;
    left: 50px;
}

@media screen and (min-width: 1080px) {
	body {
		color: black
	}
	a {
		color: black;
	}
    a-scene {
      display: none;
    }

    #bng-logo {
    	max-width: 250px;	
		fill: black;
	}
}

