@import 'styles/fonts.scss';

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

.js body:not(.mobile) {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	--color-text: #111;
	--color-bg: #d5d7ce;
	--color-link: #c0092b;
	--color-link-hover: #000;
	--color-menu: #000;
	--color-menu-hover: #567b63;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Canela Text", serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.frame {
	top: 0;
	padding: 1rem 1rem 0rem;
	position: relative;
	z-index: 1000;
	font-weight: 100;
	/*font-style: italic;*/
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: neue-haas-grotesk-text;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

// .frame.filtering {
// 	top: 0;
// 	bottom:  unset;
// 	padding: 0rem 1rem 3rem;
// 	position: fixed;
// 	z-index: 1000;
// 	background: -webkit-gradient(linear , left top, left bottom , color-stop(65%, rgba(213,215,206,1)), to(rgba(213,215,206,0)));
// 	background: -o-linear-gradient(top , rgba(213,215,206,1) 65%, rgba(213,215,206,0) 100%);
// 	background: linear-gradient(180deg , rgba(213,215,206,1) 65%, rgba(213,215,206,0) 100%);
// 	width: 100%;
// 	display: -webkit-box;
// 	display: -ms-flexbox;
// 	display: flex;
// 	font-family: neue-haas-grotesk-text;
// 	-webkit-box-align: center;
// 	-ms-flex-align: center;
// 	align-items: center;
// }

.frame__phrase {
	display:  none;
}

.frame__search {
	width: 100%;
	margin-left: 1em;
}

#podcast_search {
	border:  1px solid an;
}

/*.frame__title {
	font-size: 1rem;
	margin: 0;
	font-weight: 600;
}

.frame__links {
	margin: 0 1rem;
}

.frame__links img {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

.frame__button {
	margin-left: auto;
}*/

.menu {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none; /* Hide scrollbar in FF */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu:before {
	content: '';
    display: block;
    box-shadow: inset 0 20px 10px #d5d7cf;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.mobile .menu {
	padding: 5rem 0;
	height: auto;
}

.menu__item {
	flex: none;
	/*margin-right: 4rem;*/
	padding: 0 2rem 0 0;
}

.menu__item-inner {
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	font-size: 4.5vw;
	padding: 0.5rem;
	display: block;
	color: var(--color-menu);
	transition: transform 0.2s;
}

.menu__item-inner:hover {
	font-style: italic;
	transform: translate3d(2rem,0,0);
	color: var(--color-menu-hover);
}

.menu__item-inner::before {
	content: '';
	top: 55%;
	width: 3.5rem;
	height: 1px;
	background: currentColor;
	position: absolute;
	right: calc(100% + 2rem);
	opacity: 0;
	pointer-events: none;
}

.menu__item-inner:hover::before {
	opacity: 1;
}

/* Pseudo-element for making sure that hover area is active */
.menu__item-inner:hover::after {
	content: '';
	position: absolute;
	top: 0;
	left: -5.5rem;
	right: 0;
	height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

#bng__list {
	transition: 1.75s ease all;
	height: 100%;
	line-height: normal;
}

#bng__list a {
	text-decoration: none;
}

.filtered {
	transform: translateY(100px);
}

.filtered .loop__clone {
	display: none;
}

@media screen and (min-width: 53em) {
	.frame {
		display: grid;
		grid-template-areas: 'logo phrase search';
		align-items: center;
		padding: 3rem 4rem 0rem;
		/* margin-top: 4em; */
		display: grid;
		top: 0;
	}
	.frame__logo {
		grid-area: logo;
		justify-self: start;
	}

	.frame__phrase {
		grid-area: phrase;
		justify-self: start;
		display: block;
	}

	.frame__search {
		grid-area: search;
		justify-self: end;
	}

	.menu:before {
		box-shadow: inset 0 35px 10px #d5d7cf;
	}

	.menu__item {
		margin-right: 10vw;
	}
	.menu__item-inner {
		padding: 1vh 0;
		font-size: 6.5vh;
	}
}

#podcast_search {
    margin: 1em;
    padding: 1em;
    background: none;
    border: none;
    font-family: 'Recoleta';
    border: 1px solid #53535340;
    border-radius: 5px;
}

#podcast_search:active {
    border: 1px solid #535353;
}

#podcast_search:focus {
	outline: none;
	border: 1px solid #535353;
}

.soon {
	pointer-events: none;
	color: #737373;
}

.soon:before {
	content: "coming soon";
	font-size: 10px;
}