.slider {
  --slidesTotal: 5;

  position: fixed;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;

  height: calc(var(--vh, 1vh) * 100);

  visibility: hidden;
  opacity: 0;

  will-change: transform;

  &__button-close {
    position: fixed;
    top: -11.11111vw;
    left: calc(100vw - 43.056vw);
    z-index: 1001;

    // position: fixed;
    // top: var(--spacing-15);
    // right: var(--spacing-15);
    // z-index: 1001;

    width: 56.944vw;
    height: 56.944vw;

    will-change: transform;
  }

  &__button-close-icon {
    width: 56.944vw;
    height: 56.944vw;

    overflow: visible;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(var(--slidesTotal), var(--col-9));
    grid-column-gap: 4.167vw;
    align-items: center;

    padding: 0 4.167vw;

    height: calc(var(--vh, 1vh) * 100);
  }

  &__item {
    display: flex;
/*    align-items: center;*/
/*    justify-content: center;*/

    pointer-events: none;

    will-change: transform;
  }

  &__item-img-wrap {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
  }

  &__item-content {
    display: grid;
    position: relative;
    z-index: 1;
    user-select: none;
    /* v2 */
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 50% 25%;
    padding: 1em;
  }

  &__item-heading-wrap,
  &__item-button-wrap {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__item-heading-wrap.description {
    grid-area: 1 / 1 / 1/ 3;
    text-align: right;
    justify-self: end;
    .slider__item-heading {
      text-transform: uppercase;
    }
  }

  &__item-heading-wrap.clever {
    grid-area: 2 / 1 / 2 / 1;
    align-self: center;
    justify-self: start;
  }

  &__item-heading-wrap.product-name {
    grid-area: 2 / 2 / 2 / 2;
    align-self: center;
    justify-self: end;
  }


  &__item-button-wrap {
    pointer-events: all;
    grid-area: 3 / 1 / 3 / 3;
    align-self: end;
    justify-self: end;
  }

  &__item-heading {
    pointer-events: none;
    font-family: var(--font-f-serif);
    font-size: clamp(12px, 12px, 20px);
    line-height: 10.278vw;
/*    text-align: center;*/
    color: var(--color-white);
    text-transform: capitalize;
    transform-origin: left bottom;
    will-change: transform;
    /*    v2*/
/*    text-align: initial;*/
    pointer-events: none;
    font-family: var(--font-f-sans);
    font-size: 12px /* should be clamped */;
    line-height: 18px;
    color: var(--color-white);
    text-transform: initial;
    transform-origin: left bottom;
    will-change: transform;
  }

  &__item-button {
    margin: 4.167vw auto 0;

    color: var(--color-white);
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 18px;
    position: fixed;

    width: 100%;
    height: 100vh;

    overflow-x: unset;

    &__button-close {
      position: absolute;
      top: 1.042vw;
      left: calc(100vw - 14.23611vw - 2.083vw);
      right: unset;
    }

    &__button-close,
    &__button-close-icon {
      width: 14.236vw;
      height: 14.236vw;
    }

    &__button-close-icon {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__container {
      grid-template-columns: repeat(var(--slidesTotal), var(--col-4));
      grid-column-gap: 4.167vw;

      padding: 0 var(--col-1);

      height: unset;

      cursor: grab;
    }

    &__item-heading {
      font-size: 2.569vw;
      line-height: 6.944vw;
      font-size: 18px;
      line-height: 24px;
    }

    &__item-button {
      margin: 1.389vw auto;
    }

    &__item-img {
      max-width: unset;
      // width: calc(100% + var(--col-3)) !important;

      pointer-events: none;
      user-select: none;

      transform-origin: left center;
      transform: scale(1.75);
      will-change: transform;
    }

    &__progress-wrap {
      display: block;

      position: absolute;
      left: var(--col-2);
      bottom: 3.125vw;

      width: var(--col-8);
      height: 1px;

      overflow: hidden;

      background-color: #d6d6d6;

      transform-origin: left center;
      will-change: transform;
    }

    &__progress {
      display: block;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: var(--color-black);

      transform: scaleX(0);
      transform-origin: left center;
      will-change: transform;
    }
  }
}

.is-dragging .slider__container {
  cursor: grabbing;
}

.js-contacts {
    position: absolute;
    bottom: 0;
    text-align: center;
    text-transform: lowercase;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 80vw;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.is-device .js-contacts {
    text-align: center;
    text-transform: lowercase;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    font-size: 16px;
    display: grid;
    position: absolute;
    bottom: 25px;
    left: 0;
    transform: unset;
}

.is-device .slider {
  position: fixed;
  // position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
display: nonee !important;
  height: calc(var(--vh, 1vh) * 100);

  overflow-x: scroll;
}

.is-device .slider__container {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: scroll;
}

.is-device .slider .nav__button-close {
  position: fixed;
}

.is-device .slider .slider__progress-wrap {
  display: none;
}